.contact-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

.contact-info {
    margin-top: 20px;
}

.contact-info h2 {
    margin-bottom: 10px;
}

.contact-info p {
    margin-bottom: 10px;
}

